@page
@model CupHeadWebApp.Pages.Bosses.GoopyLeGrandeModel
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/bosses/rootPack.css" asp-append-version="true" />
<div id="main">
    <div class="start">
        <h1>Гупі Ле Гранде</h1>
        <br />
        <aside>
            <div class="phase-links">

                <a class="nav-link active phase" aria-current="page" href="#" onclick="showPhase('phase1')" id="phase-link-1">Фаза 1</a>
                <a class="nav-link phase" href="#" onclick="showPhase('phase2')">Фаза 2</a>
                <a class="nav-link phase" href="#" onclick="showPhase('phase3')">Фаза 3</a>
            </div>
            <div class="boss-info">
                <div class="boss-title">
                    <h4>Інформація про боса</h4>
                </div>
                <div id="phase1" class="boss-phase">
                    <img src="../data/BossesInPages/Goopy.webp">
                    <div class="boss-title">
                        <h4>Бойова інформація</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Здоров'я</h5>
                        <h5>
                            1000/1200/1400
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Атаки</h5>
                        <h5>
                            Стрибок;
                            <br>
                            Перетворення на боксерську рукавичку;
                            <br>
                            Удар кулаком;
                            <br>
                            Скруха надгробком
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Об'єкти, що парируються</h5>
                        <h5>Знаки питання</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Кількість фаз</h5>
                        <h5>
                            2/3
                        </h5>
                    </div>
                    <div class="boss-title">
                        <h4>Інші деталі</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Локація</h5>
                        <h5>Чорнильний острів один</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Рівень</h5>
                        <h5>Виверт мулу</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Стать</h5>
                        <h5>Чоловіча</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Роль</h5>
                        <h5>
                            Стрибаючий бос (фази 1 і 2);
                            <br>
                            Бос заднього фону (фаза 3)
                        </h5>
                        
                    </div>
                </div>
                <div id="phase2" class="boss-phase">
                    <img src="../data/BossesInPages/Goopy2.webp">
                    <div class="boss-title">
                        <h4>Бойова інформація</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Здоров'я</h5>
                        <h5>1000/1200/1400</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Атаки</h5>
                        <h5>
                            Стрибок;
                            <br />
                            Перетворення на боксерську рукавичку;
                            <br />
                            Удар кулаком;
                            <br />
                            Скруха надгробком
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Об'єкти, що парируються</h5>
                        <h5>Знаки питання</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Кількість фаз</h5>
                        <h5>
                            2/3
                        </h5>
                    </div>
                    <div class="boss-title">
                        <h4>Інші деталі</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Локація</h5>
                        <h5>Чорнильний острів один</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Рівень</h5>
                        <h5>Виверт мулу</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Стать</h5>
                        <h5>Чоловіча</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Роль</h5>
                        <h5>
                            Стрибаючий бос (фази 1 і 2);
                            <br>
                            Бос заднього фону (фаза 3)
                        </h5>

                    </div>
                </div>
                <div id="phase3" class="boss-phase">
                    <img src="../data/BossesInPages/Goopy3.webp">
                    <div class="boss-title">
                        <h4>Бойова інформація</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Здоров'я</h5>
                        <h5>
                            1000/1200/1400
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Атаки</h5>
                        <h5>

                            Стрибок;
                            <br />
                            Перетворення на боксерську рукавичку;
                            <br />
                            Удар кулаком;
                            <br />
                            Скруха надгробком
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Об'єкти, що парируються</h5>
                        <h5>Знаки питання</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Кількість фаз</h5>
                        <h5>
                            2/3
                        </h5>
                    </div>
                    <div class="boss-title">
                        <h4>Інші деталі</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Локація</h5>
                        <h5>Чорнильний острів один</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Рівень</h5>
                        <h5>Виверт мулу</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Стать</h5>
                        <h5>Чоловіча</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Роль</h5>
                        <h5>
                            Стрибаючий бос (фази 1 і 2);
                            <br>
                            Бос заднього фону (фаза 3)
                        </h5>

                    </div>
                </div>
            </div>

        </aside>

        <p style="line-height:2em;">
            Гупі Ле Гранде (англ. Goopy Le Grande) - бос гри "Cuphead". Він з'являється на рівні Ухиляння мулу.
        </p>

        <div id="navigation">
            <h3>Зміст</h3>
            <ul id="list">
                <ul id="list-fst">
                    <a href="#scrollspy1">
                        <div id="content-link">1. Опис</div>
                    </a>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy1.1"><div id="content-link">1.1. Зовнішність</div></a>
                    </ul>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy2"><div id="content-link">2. В бою</div></a>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.1"><div id="content-link">2.1. Вступ</div></a>
                    </ul>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.2"><div id="content-link">2.2. Фаза 1</div></a>
                    </ul>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.3"><div id="content-link">2.3. Фаза 2</div></a>
                    </ul>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.4"><div id="content-link">2.4. Фаза 3</div></a>
                    </ul>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy3"><div id="content-link">3. Експерт</div></a>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy4"><div id="content-link">4. Галерея</div></a>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy5"><div id="content-link">5. Цікаві факти</div></a>
                </ul>
            </ul>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <div class="description">
                <h2 id="scrollspy1">Опис</h2>@*id="descr"*@
                <hr />
                <h3 id="scrollspy1.1" style="margin-bottom:0.5em;">Зовнішність</h3>
                <p>
                    Гупі Ле Гранде виглядає як велика синя куля з очима, червоним носом та невеликою посмішкою. 
                    Як він сам каже в одній зі своїх цитат, він є слимаком. 
                    Гупі здатний змінювати свою форму, перетворюючись на боксерську рукавичку, 
                    або знаходячи руку з червоною рукавичкою на другій фазі. На початку другої фази 
                    Гупі проковтує таблетку, що робить його більше, темнішим, а також дає йому коричневі брови. 
                    В останній фазі на Гупі падає могильний камінь із зображенням його обличчя, і має незадоволену усмішку.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy2">В бою</h2>
                <hr />
                <h3 id="scrollspy2.1" style="margin-bottom:0.5em;">Вступ</h3>
                <p>
                    На початку битви Гупі вітає Капхеда і Магмена, посміхаючись і відокремлюючи 
                    частину від своєї голови у вигляді капелюха, після чого починається битва.
                </p>
                <h3 id="scrollspy2.2" style="margin-bottom:0.5em;">Фаза 1</h3>
                <p><i>"З таким обличчям, як у мене, скакати хіба злочин?"</i> &nbsp;&nbsp; — Гупі Ле Гранде, Екран смерті на першій фазі</p>
                <p>
                    Гупі починає стрибати на гравця, сподіваючись розчавити його. Іноді він перестає підстрибувати і кидається до гравця, щоб ударити його, перетворюючи себе на гігантську боксерську рукавичку. Діапазон цього удару короткий, так що гравець може або відійти подалі, або просто присісти.
                </p>
                <br />
                <p>Після отримання великої кількості збитків, він зрештою ковтає таблетку, над ним виникають три знаки питання (єдиний момент, коли можна використовувати парірування) і стає вдвічі більше, ніж його первісна форма, а голос знижується.</p>
            </div>
            <div class="description">
                <h2 id="scrollspy2.3">Фаза 2</h2>
                <hr />
                <p><i>"Я раз гойдаюсь, і тебе не стане!"</i> &nbsp;&nbsp; — Гупі Ле Гранде, екран смерті на другій фазі</p>
                <p>
                    На цій фазі Гупі повторно використовує свої дві попередні атаки, але до певної міри вони більш потужні:
                </p>
                <ul id="intr-fact">
                    <li>
                        <p id="l">
                            Тепер він відскакує нерегулярніше, і його тіло покриває більше місця.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Тепер він може завдавати удару кулаком і дальність дії збільшується.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Ці атаки можна уникнути як і, як і першої фазі.
                        </p>
                    </li>
                    
                </ul>
                <p>
                    Після того, як він отримав достатньо втрат, це викличе йому запаморочення, і його розчавить надгробком з його розлюченим обличчям, що прилетіло зверху.
                </p>
                <br />
                <p>
                    Проходячи його на простій складності, надгробок не розчавить його і битва просто закінчується.
                </p>

            </div>
            <div class="description">
                <h2 id="scrollspy2.4">Фаза 3</h2>
                <hr />
                <p><i>"Я дуже сміливий... навіть у могильних ситуаціях!"</i> &nbsp;&nbsp; — Гупі Ле Гранде, екран смерті на останній фазі</p>
                <p>
                    <i>Ця фаза відсутня на простій складності. </i>
                    Гупі, здається, помер після того, як його розчавили, 
                    але він все ще живий і здатний боротися, використовуючи 
                    свій надгробний камінь. Його єдина атака - це швидке пересування зліва направо, 
                    зупиняючись тільки щоб приземлитися на місці, де стоятиме гравець.
                </p>
                <br />
                <p>
                    Єдиний спосіб убити його - стріляти в його обличчя на надгробку, попутно ухиляючись від ударів. Для увороту краще використовувати ривки, тому що атаки Гупі на цій фазі охоплюють велику відстань.
                </p>
                <br />
                <p>
                    Після того, як він отримав достатньо втрат, він буде переможений, і його надгробок буде зламано навпіл.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy3">Експерт</h2>
                <hr />
                <p>
                    На експерті Гупі почне буквально "стрибати як сам хоче", роблячи то короткі, то довгі стрибки для того, щоб розчавити Капхеда та Магмена. Усе це ускладнюється другою фазі, що він сам займає 1/2,5 всієї арени. Третя фаза не змінилася.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy4">Галерея</h2>
                <hr />
                <div class="bosses-img">
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goop_1.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Imageproxy_29.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/FFF.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_jump.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/12.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goop.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_lunge.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Tumblr_p0ombwIwKC1weiodpo1_400.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_p1_dazed.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_Transformation.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_p2_jump.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/193405210.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/SlimePunch.png.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_punch.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_phs2_death.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_about_to_slam.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_tombstone.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/3F3F3F_333.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_Le_Grande_soul_contract.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/1541569850340.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_Le_Grande_2013.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Goopy_Le_Grande_map_2013.webp" />
                    </div>
                    <div class="gal1">
                        <img id="galery1" src="../data/BossesInPages/Legrandeconcept.webp" />
                    </div>
                </div>
            </div>
            <div class="description">
                <h2 id="scrollspy5">Цікаві факти</h2>
                <hr />
                <ul id="intr-fact">
                    <li>
                        <p id="l">
                            Він дуже схожий на слимака - відомого ворога та талісмана "Dragon Quest".
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            У трейлері 2013 року битва йшла з двома такими босами, а також один з них з'являвся на карті як неігровий персонаж, проте в наступних версіях це було змінено.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            На відміну від більшості босів, Гупі Ле Гранде не з'являється в кінці з усіма іншими боржниками, що призводить до припущення, що він був буквально вбитий.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Гупі Ле Гранде – єдиний бос у грі, який ніколи не використовує будь-який вид снаряда атаки чи навіть помічників.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Після прийняття таблетки "хвостик" на його голові на кілька секунд з'являється три знаки питання, за допомогою якого можна парирувати.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Ім'я Гуппі Ле Гранде (англ. Goopy Le Grande) з французької перекладається як "Гуппі Прекрасний" або "Гуппі Великий".
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</div>

<script src="~/js/boss.js" asp-append-version="true"></script>
