@page
@model CupHeadWebApp.Pages.Bosses.GoopyLeGrandeModel
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/bosses/rootPack.css" asp-append-version="true" />
<div id="main">
    <div class="start">
        <h1>Банда коренеплодів</h1>
        <br />
        <aside>
            <div class="phase-links">

                <a class="nav-link active phase" aria-current="page" href="#" onclick="showPhase('phase1')" id="phase-link-1">Фаза 1</a>
                <a class="nav-link phase" href="#" onclick="showPhase('phase2')">Фаза 2</a>
                <a class="nav-link phase" href="#" onclick="showPhase('phase3')">Фаза 3</a>
            </div>
            <div class="boss-info">
                <div class="boss-title">
                    <h4>Інформація про боса</h4>
                </div>
                <div id="phase1" class="boss-phase">
                    <img src="../data/BossesInPages/Goopy.webp">
                    <div class="boss-title">
                        <h4>Бойова інформація</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Здоров'я</h5>
                        <h5>
                            1000/1200/1400
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Атаки</h5>
                        <h5>
                            Стрибок;
                            <br>
                            Перетворення на боксерську рукавичку;
                            <br>
                            Удар кулаком;
                            <br>
                            Скруха надгробком
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Об'єкти, що парируються</h5>
                        <h5>Знаки питання</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Кількість фаз</h5>
                        <h5>
                            2/3
                        </h5>
                    </div>
                    <div class="boss-title">
                        <h4>Інші деталі</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Локація</h5>
                        <h5>Чорнильний острів один</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Рівень</h5>
                        <h5>Виверт мулу</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Стать</h5>
                        <h5>Чоловіча</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Роль</h5>
                        <h5>
                            Стрибаючий бос (фази 1 і 2);
                            <br>
                            Бос заднього фону (фаза 3)
                        </h5>
                        
                    </div>
                </div>
                <div id="phase2" class="boss-phase">
                    <img src="../data/BossesInPages/Weepy.webp">
                    <div class="boss-title">
                        <h4>Бойова інформація</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Здоров'я</h5>
                        <h5>400/425</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Атаки</h5>
                        <h5>Сльози</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Прислуги</h5>
                        <h5>Немає</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Об'єкти, що парируються</h5>
                        <h5>Сльози</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Кількість фаз</h5>
                        <h5>3</h5>
                    </div>
                    <div class="boss-title">
                        <h4>Інші деталі</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Локація</h5>
                        <h5>Чорнильний острів один</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Рівень</h5>
                        <h5>Паніка ботаніка</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Стать</h5>
                        <h5>Чоловіча</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Роль</h5>
                        <h5>Цибуля</h5>
                    </div>
                </div>
                <div id="phase3" class="boss-phase">
                    <img src="../data/BossesInPages/Carrot.webp">
                    <div class="boss-title">
                        <h4>Бойова інформація</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Здоров'я</h5>
                        <h5>450/475/475</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Атаки</h5>
                        <h5>
                            Енергійні кільця,
                            Самонавідні моркви
                        </h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Прислуги</h5>
                        <h5>Немає</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Об'єкти, що парируються</h5>
                        <h5>Немає</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Кількість фаз</h5>
                        <h5>3</h5>
                    </div>
                    <div class="boss-title">
                        <h4>Інші деталі</h4>
                    </div>
                    <div class="battle-inf">
                        <h5>Локація</h5>
                        <h5>Чорнильний острів один</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Рівень</h5>
                        <h5>Паніка ботаніка</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Стать</h5>
                        <h5>Чоловіча</h5>
                    </div>
                    <div class="battle-inf">
                        <h5>Роль</h5>
                        <h5>Морква</h5>
                    </div>
                </div>
            </div>

        </aside>

        <p style="line-height:2em;">
            Банда коренеплодів (англ. The Root Pack) — одні з перших босів, з
            якими ви стикаєтесь в Cuphead. Вони знаходяться на рівні "Паніка
            ботаніка". Це найпростіші боси в грі (за думкою більшості
            гравців), з якими гравець б'ється на Чорнильному острові один.
        </p>

        <div id="navigation">
            <h3>Зміст</h3>
            <ul id="list">
                <ul id="list-fst">
                    <a href="#scrollspy1">
                        <div id="content-link">1. Опис</div>
                    </a>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy1.1"><div id="content-link">1.1. Зовнішність</div></a>
                    </ul>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy2"><div id="content-link">2. В бою</div></a>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.1"><div id="content-link">2.1. Вступ</div></a>
                    </ul>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.2"><div id="content-link">2.2. Фаза 1</div></a>
                    </ul>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.3"><div id="content-link">2.3. Фаза 2</div></a>
                    </ul>
                    <ul id="list-sec" style="margin-left: 1em;">
                        <a href="#scrollspy2.4"><div id="content-link">2.4. Фаза 3</div></a>
                    </ul>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy3"><div id="content-link">3. Експерт</div></a>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy4"><div id="content-link">4. Галерея</div></a>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy5"><div id="content-link">5. Звуки</div></a>
                </ul>
                <ul id="list-fst">
                    <a href="#scrollspy6"><div id="content-link">6. Цікаві факти</div></a>
                </ul>
            </ul>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <div class="description">
                <h2 id="scrollspy1">Опис</h2>@*id="descr"*@
                <hr />
                <h3 id="scrollspy1.1" style="margin-bottom:0.5em;">Зовнішність</h3>
                <p>
                    Гупі Ле Гранде виглядає як велика синя куля з очима, червоним носом та невеликою посмішкою. 
                    Як він сам каже в одній зі своїх цитат, він є слимаком. 
                    Гупі здатний змінювати свою форму, перетворюючись на боксерську рукавичку, 
                    або знаходячи руку з червоною рукавичкою на другій фазі. На початку другої фази 
                    Гупі проковтує таблетку, що робить його більше, темнішим, а також дає йому коричневі брови. 
                    В останній фазі на Гупі падає могильний камінь із зображенням його обличчя, і має незадоволену усмішку.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy2">В бою</h2>
                <hr />
                <h3 id="scrollspy2.1" style="margin-bottom:0.5em;">Вступ</h3>
                <p>
                    На початку битви Гупі вітає Капхеда і Магмена, посміхаючись і відокремлюючи 
                    частину від своєї голови у вигляді капелюха, після чого починається битва.
                </p>
                <h3 id="scrollspy2.2" style="margin-bottom:0.5em;">Фаза 1</h3>
                <p><i>"З таким обличчям, як у мене, скакати хіба злочин?"</i> &nbsp;&nbsp; — Гупі Ле Гранде, Екран смерті на першій фазі</p>
                <p>
                    Гупи начинает прыгать на игрока, в надежде раздавить его. Иногда он перестает подпрыгивать и бросается к игроку, чтобы ударить его, превращая себя в гигантскую боксерскую перчатку. Диапазон этого удара короткий, так что игрок может или отойти подальше, или же просто присесть.
                </p>
                <br />
                <p>После получения большого количества урона, он в конечном итоге глотает таблетку, над ним возникают три знака вопроса (единственный момент, когда можно использовать парирование) и становится вдвое больше, чем его первоначальная форма, а голос понижается.</p>
            </div>
            <div class="description">
                <h2 id="scrollspy3">Фаза 2: Оллі Цибулина</h2>
                <hr />
                <p><i>"Гей, маленький, нічого, якщо тобі доведеться плакати"</i> &nbsp;&nbsp; — Оллі Цибулина, Екран смерті</p>
                <p>
                    Оллі Луковиця виходить з-під землі, як і Сел Картопля, але
                    з'являється вже в середині екрану, і може завдати шкоди гравцю,
                    якщо він стояв надто близько до середини. З'явившись, Оллі
                    цибулина струсить землю зі свого носа, потім почне засмучено
                    оглядатися, після чого заплаче. Поки він плаче, зверху будуть
                    падати великі сльози, які також завдають шкоди гравцеві, деякі з
                    яких будуть рожевими і їх можна буде парирувати.<br /><br />
                    Під час програшу Оллі Цибулина буде, як і Сел Картопля, тримати
                    себе за щоки, і піде під землю. У простому режимі боротьбу з Оллі
                    Луковицею буде пропущено, і після поразки Сел Картопля відразу
                    з'явиться Чонсі Шантане.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy4">Фаза 3: Чонсі Шантане</h2>
                <hr />
                <p><i>"Я худий, злий і повний бета-каротину!"</i> &nbsp;&nbsp; — Чонсі Шантане, Екран смерті</p>
                <p>
                    Чонсі Шантане вилізе з-під землі на тлі, і відразу почне
                    використовувати свої телепатичні здібності, закликаючи моркву, що
                    літає, зверху екрану. Ці моркви будуть завжди спрямовані на
                    гравця, але мати невелику швидкість, що дозволяє їх легко знищити.
                    Також він може вистрілювати телепатичними хвилями з 3-го ока (який
                    розкриється у цей момент). У зв'язку з тим, що Чонсі Шантане
                    знаходиться на тлі рівня, для заподіяння шкоди по ньому потрібно
                    вистрілювати вгору, інакше кулі просто пролітатимуть повз
                    нього.<br /><br />
                    Після перемоги над Чонсі Шантане рівень буде завершено, а сам
                    Чонсі Шантане смикатиме себе за стебла.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy5">Експерт</h2>
                <hr />
                <p>
                    Сел Картопля на складності "Експерт" набагато швидше
                    випльовуватиме грудки землі, залишаючи все менше і менше
                    інтервалів між грудками.<br /><br />
                    Сльози Оллі Цибулини будуть падати частіше, приблизно 7-10 сліз із
                    кожного боку.<br /><br />
                    Чонсі Шантане запускатиме лише 2 хвилі псипроменів, але літаючих
                    морквин буде більше.
                </p>
            </div>
            <div class="description">
                <h2 id="scrollspy6">Цікаві факти</h2>
                <hr />
                <ul id="intr-fact">
                    <li>
                        <p id="l">
                            Атака плачемо від Оллі Цибулини відсилає на те, як цибуля
                            впливає на людей — викликає неконтрольований потік сліз. Також,
                            третє око Чонсі Шантане посилається на "третє око" - символ
                            телепатії.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Це єдина битва з босами, де остання фаза (Чонсі Шантане)
                            перебуває навіть на простій складності.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            У хорошому кінці жоден з босів Банди коренеплодів не буде
                            показаний.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Також у цій банді мав бути ще один член – Бітріс Лютц, але вона
                            не увійшла до фінальної версії. Швидше за все, її не додали
                            через схожість з Оллі Луковицею і неможливістю пройти банду
                            коренеплодів на ранг S через брак часу. Імовірно, Бітріс Лютц
                            могла з'являтися на складності Експерт.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            Також це один із небагатьох випадків, коли на мінімальному рівні
                            складності одна фаза має більше здоров'я, ніж на вищих рівнях
                            складності — у нашому випадку Сел Картопля має 450/360/400.
                        </p>
                    </li>
                    <li>
                        <p id="l">
                            З версії 1.20 можна пропустити фазу Оллі Луковиці, не стріляючи
                            в нього, але замість нього буде Хорас Редіс.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</div>

<script src="~/js/boss.js" asp-append-version="true"></script>
